// Colours
$background: #293241;
$accent: #EE6C4D;
$body-dark: #3D5A80;
$body-med: #98C1D9;
$body-light: #E0FBFC;
// Font
$light-font: #FFFFFF;
$med-font: #747C8A;
$dark-font: #454E5E;
// Components
$border-radius: 5px;
